---
import Layout from '../layouts/Layout.astro';
import Slider from '../components/Slider.astro';
import Features from '../components/Features.astro';
import Accordion from '../components/Accordion.astro';
import Services from '../components/Services.astro';
import ListCardServices from '../components/ListCardServices.astro';
import Nosotros from '../components/Nosotros.astro';

---

<Layout title="Transporte Marcimp">
	<main>
		<Slider/>
		<Nosotros/>
		<Features/>
		<ListCardServices/>
		<Accordion/>
	</main>
</Layout>
<script>
	
</script>
<style>
	
</style>
