---

---
<section id="question" class=" py-24 pr-3 pl-3 lg:px-20 2xl:px-96 text-text-50 overflow-hidden">
  <h2 class="[grid-area:titlePreguntas] text-center flex items-center justify-center text-semibold text-3xl">Preguntas frecuentes</h2>
  <div class="w-full [grid-area:preguntasone] animate left"> 
    <div class="collapse collapse-arrow bg-bunker-900 mb-2">
      <input type="radio" name="my-accordion-2" checked="checked" /> 
      <div class="collapse-title font-medium">
        1. ¿Qué tipos de cargas transportan?
      </div>
      <div class="collapse-content"> 
        <p>Transportamos carga seca y carga refrigerada y contenedores.</p>
      </div>
    </div>
    <div class="collapse collapse-arrow bg-bunker-900 mb-2">
      <input type="radio" name="my-accordion-2" /> 
      <div class="collapse-title  font-medium">
        2. ¿Cuentan con flota propia?
      </div>
      <div class="collapse-content"> 
        <p>Si, contamos con una amplia disponiblidad de unidades propias.</p>
      </div>
    </div>
    <div class="collapse collapse-arrow bg-bunker-900 mb-2">
      <input type="radio" name="my-accordion-2" /> 
      <div class="collapse-title  font-medium">
        3. ¿La carga es en cualquier parte del país?
      </div>
      <div class="collapse-content"> 
        <p>Sí, se realiza la carga en cualquier espacio del territorio de Argentina y Chile</p>
      </div>
    </div>
    <div class="collapse collapse-arrow bg-bunker-900 mb-2">
      <input type="radio" name="my-accordion-2" /> 
      <div class="collapse-title  font-medium">
        4. ¿Realizan fletes multimodal?
      </div>
      <div class="collapse-content"> 
        <p>Si, realizamos fletes multimodales. </p>
      </div>
    </div>

  </div>
  <div class="w-full [grid-area:preguntastwo] animate right">
    <div class="collapse collapse-arrow bg-bunker-900 mb-2">
      <input type="radio" name="my-accordion-2" /> 
      <div class="collapse-title  font-medium">
        5. ¿Poseen seguimiento satelital?
      </div>
      <div class="collapse-content"> 
        <p>Si, contamos con Seguimiento Satelital las 24 Hs. en todas nuestras unidades.  </p>
      </div>
    </div>
    <div class="collapse collapse-arrow bg-bunker-900 mb-2">
      <input type="radio" name="my-accordion-2" /> 
      <div class="collapse-title  font-medium">
        6. ¿Están tomando personal?
      </div>
      <div class="collapse-content"> 
        <p>Hacemos reclutamiento de nuevos conductores en forma continua. Podés dejar tu CV haciendo click en el siguiente link:  CV  </p>
      </div>
    </div>
    <div class="collapse collapse-arrow bg-bunker-900 mb-2">
      <input type="radio" name="my-accordion-2" /> 
      <div class="collapse-title  font-medium">
        7. ¿Con quién puedo contactarme?
      </div>
      <div class="collapse-content"> 
        <p>Para contactactarse con nuestra empresa, podés hacerlo a través de nuestra web a través del formulario de contacto o a través de WhatsApp.</p>
      </div>
    </div>
    <div class="collapse collapse-arrow bg-bunker-900 mb-2">
      <input type="radio" name="my-accordion-2" /> 
      <div class="collapse-title  font-medium">
        8. ¿Qué documentación se solicita para postularse como conductor?
      </div>
      <div class="collapse-content"> 
        <p>Si, contamos con Seguimiento Satelital las 24 Hs. en todas nuestras unidades.  </p>
      </div>
    </div>
  

  </div>
</section>
<script>
  const animateElements = document.querySelectorAll('.animate')

  const isVisible = (entries) => {
    entries.forEach(entry => {
    if (entry.target.className.split(' ').includes('left') && entry.isIntersecting){
      entry.target.classList.add('animate-fade-right')
    }
    else{
      entry.target.classList.remove('animate-fade-right')
    }
    if (entry.isIntersecting && entry.target.className.split(' ').includes('right')) {
      entry.target.classList.add('animate-fade-left')
    } else {
      entry.target.classList.remove('animate-fade-left')
    }
    })
  }

let observer = new IntersectionObserver(isVisible,{})

animateElements.forEach(element => {
  observer.observe(element);
});


</script>
<style>
  @keyframes desplazar {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  #question{
    display: grid;
    grid-template-areas: 
      "titlePreguntas titlePreguntas"
      "preguntasone preguntastwo";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 1fr;
    gap: 20px;
  }
  .animateOberver1{
    animation: desplazar 1s cubic-bezier( 0.26, 0.27, 0, 1 );
  }

</style>
