---
import CardFeatures from "./CardFeatures.astro";
import dolly from '../assets/dolly.svg'
import timer from '../assets/timer.svg'
import pack from '../assets/package.svg'
import map from '../assets/map.svg'
import truck from '../assets/truck.svg'
import casco from '../assets/casco.svg'
import Pack from '../icons/Pack.astro'

const FEATURES = [
  { src: truck, body: 'Flota propia con camiones, semirremolques y laterales (siders).' },
  { src: map, body: 'Rastreo y monitoreo especializado para todas nuestras unidades.' },
  { src: dolly, body: 'Líderes en coordinación y seguimiento de cargas para entregas exitosas.' },
  { src: pack, body: 'Facilitamos transporte de cargas internacionales con soluciones logísticas integrales.' },
  { src: pack, body: 'Servicios de custodia durante el tránsito para proteger sus envíos.' },
  { src: casco, body: 'Conductores altamente capacitados para traslados seguros y eficientes de mercadería.' },
]

---




  <section data-section="features" class="grid grid-cols-2 grid-rows-1 justify-center items-center gap-16 py-16 pt-18 pr-3 pl-3 lg:px-32 2xl:px-96 bg-bunker-900 text-text-50 ">
    
    <div class="flex flex-col justify-start items-start gap-6 relative z-10">
      
      <h2 class="font-bold text-4xl text-slate-300">Nuestra flota</h2>
      <p class="font font-medium text-pretty text-base text-gray-200 leading-relaxed">
        Disponemos de una flota compuesta por unidades tractoras última tecnología, 
        furgones térmicos con equipo de frío Thermoking, portacontenedores con Genset y 
        semirremolques con barandas volcables. A su vez contamos con socios estratégicos 
        con unidades propias que operan con dedicación exclusiva, cumpliendo con los estándares
         de calidad de nuestra compañía.
      </p>
      <button class="rounded-full bg-bunker-950 text-text-100 text-semibold px-3 py-2">Lorem ipsum adfggh</button>
    </div>
    <div class="flex flex-col gap-9">
      <img src="../assets/package.svg" alt="">
      {
        FEATURES.map(({src, body}) => <CardFeatures src={src} alt="icon" body={body}/>)
      }

    </div>
    <section/>



<style>
  @keyframes scale {

    100%{
      transform: scale(1.1,0.9)
    }
  }
  .package{
    width: 200px;
    position: absolute;
    top: 0px;
    left: 10%;
    z-index: 8;
    animation: scale 2s linear infinite alternate;
  }

</style>
  


  



