---
import Logo from "./Logo.astro";
---

<header class="text-text-100 font-bold text-xl flex justify-between items-center fixed shado z-10 w-screen bg-bunker-50 backdrop-blur border-b px-3 py-3 lg:px-20 xl:px-96">
  <div class="w-[250px]">
    <a href="/">
      <Logo/>
    </a>
    
  </div>
  <nav class="flex list-none gap-10">
    <li class="hover:text-blue-500"><a href="/#question">Nosotros</a></li>
    <li class="hover:text-blue-500"><a href="/#service">Servicio</a></li>
    <li class="hover:text-blue-500"><a href="/#features">Clientes</a></li>
    <li class="hover:text-blue-500"><a href="/#">Contacto</a></li>
  </nav>
  
</header>

<style>

</style>