---
import { Image } from 'astro:assets';
import camion from '../assets/camion.png'
import bg from '../assets/bg2.svg'



---
<div class="pr-3 pl-3 lg:px-32 2xl:px-96 pt-44 overflow-hidden slider">
  <div>
    <h1 class="text-text-100 text-7xl font-bold animate-flip-up animate-once">Transporte <span id="strong">internacional</span> de cargas.</h1>
  </div>
  <div class="h-auto">
    <div class="absolute  " id="logo">
      <svg id="evIdXAVShOo1" xmlns="http://www.w3.org/2000/svg"  width="700" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 390 335" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"><g transform="translate(-77.723079-63.973889)" clip-rule="evenodd"><path d="M421.5,271.5c21.627601-42.819643-6.121294-147.852867-59-168.5-19.378-13.2459-40.378-23.2459-63-30-4.352-1.5719-4.685-3.2385-1-5c44.081.4703,82.748,15.137,116,44c21.092173,18.953914,54.221781,88.461483,43,139.43779L421.5,271.5Z" clip-rule="evenodd" fill="#8c191c" fill-rule="evenodd"/></g><g transform="translate(-77.72308-63.973888)" clip-rule="evenodd"><path d="M226.5,65.5c7.701-.1911,15.368.1423,23,1c.219,1.175-.114,2.175-1,3-38.734,11.9393-71.901,32.606-99.5,62-30.883,39.242-39.883,83.242-27,132c11.197,37.9,32.03,69.4,62.5,94.5c17.108,13.748,35.774,25.081,56,34c.757,1.512,1.757,2.846,3,4-56.55-7.52-100.05-35.354-130.5-83.5-26.2412-41.744-33.5745-86.744-22-135c12.192-42.874,38.358-74.041,78.5-93.5c18.36-8.5333,37.36-14.7,57-18.5Z" clip-rule="evenodd" fill="#193d6c" fill-rule="evenodd"/></g><g transform="translate(-77.723079-63.973889)" clip-rule="evenodd"><path d="M457.5,251.5c-1.71,12.131-5.044,23.798-10,35-8.388,18.447-19.055,35.447-32,51-29.84,34.863-67.507,54.863-113,60c1.148-1.649,2.481-3.149,4-4.5c28.905-12.444,53.905-30.278,75-53.5c4.345-4.347,8.345-9.014,12-14c9.681-12.01,17.348-25.343,23-40c1.665-4.662,3.332-9.328,5-14c1.871-.359,3.371-1.359,4.5-3c1.902-5.943,4.735-11.443,8.5-16.5c7.659-.5,15.326-.666,23-.5Z" clip-rule="evenodd" fill="#8b1a1c" fill-rule="evenodd"/></g></svg>
    </div>

    <div class="flex items-end justify-end animate-flip-up animate-once h-32 relative">
      <p class="w-96 h-full text-text-100 font-medium ">Somos una empresa chilena con más de 30 años de experiencia en Transporte y Logística Internacional de Cargas, especializada en envíos entre Chile y Argentina.</p>
    </div>
    <div class="2xl:w-[1300px] lg:w-[1200px]">
      <Image alt='camion' src={camion} class="animate relative bottom-20 w-full"/>
    </div>
  </div>
</div>
<script>
  const animateElements = document.querySelectorAll('.animate')

  const isVisible = (entries) => {
    entries.forEach(entry => {
    if (entry.isIntersecting) {
      entry.target.classList.add('animateOberver')
    } else {
      entry.target.classList.remove('animateOberver')
    }
    })
  }

let observer = new IntersectionObserver(isVisible,{})

animateElements.forEach(element => {
  observer.observe(element);
});


</script>
<style>
  @keyframes desplazar {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes desplazarleft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  .animateOberver{
    animation: desplazar 1s cubic-bezier( 0.26, 0.27, 0, 1 );
    
  }
  #logo{
    animation: desplazarleft 1s cubic-bezier( 0.26, 0.27, 0, 1 );
  }
  .slider{
    background-image: url('../assets/bg2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -100px 100px;
  }

  #strong{
    background-image: linear-gradient(to right,var(--tw-gradient-stops));
    --tw-gradient-from: #06b6d4;
    --tw-gradient-to: rgba(6,182,212,0);
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
    --tw-gradient-to: rgba(14,165,233,0);
    --tw-gradient-stops: var(--tw-gradient-from),#0ea5e9,var(--tw-gradient-to);
    --tw-gradient-to: #3b82f6;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 800;
    color: transparent;
  }


</style>